/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  outline: none;
  border: 0;
}

a {
  text-decoration: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

@font-face {
  src: url("./Fonts/gilroy-semibold.ttf");
  font-family: "Gilroy";
  font-weight: 600;
}
@font-face {
  src: url("./Fonts/gilroy-bold.ttf");
  font-family: "Gilroy";
  font-weight: 700;
}
body {
  background-color: #040d3e;
  overflow-x: hidden;
}

.bg1 {
  background: #3b1d60;
  background: linear-gradient(195deg, #3b1d60 0%, #040d3e 75%);
}

.bg2 {
  margin: 0 auto;
  background: no-repeat url(Images/bg2.png);
  background-size: cover;
  padding-bottom: 160px;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1130px) {
  .container {
    max-width: 890px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 600px;
  }
}
.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.navbar {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1130px) {
  .navbar {
    padding-top: 45px;
  }
}
@media (max-width: 950px) {
  .navbar {
    display: block;
    padding-top: 30px;
  }
}
@media (max-width: 320px) {
  .navbar {
    width: 250px;
    padding: 45px auto;
  }
}
.navbar-left {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .navbar-left {
    justify-content: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 500px) {
  .navbar-left {
    flex-direction: column;
  }
}
.navbar-left__logo {
  margin-right: 45px;
}

@media (max-width: 500px) {
  .navbar-left__logo {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.navbar-left__nav .navbar-wrapper {
  display: flex;
  list-style: none;
  font-family: "Gilroy";
}
.navbar-left__nav .navbar-wrapper .navbar-row + .navbar-row {
  margin-left: 20px;
}
.navbar-left__nav .navbar-wrapper .navbar-row {
  display: flex;
}
.navbar-left__nav .navbar-wrapper .navbar-row .navbar-item + .navbar-item {
  margin-left: 20px;
}
.navbar-left__nav .navbar-wrapper .navbar-row .navbar-item a {
  font-size: 12px;
  line-height: 20px;
  color: #b5b5b5;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navbar-left__nav .navbar-wrapper .navbar-row .navbar-item a:hover {
  color: #fff;
}

@media (max-width: 500px) {
  .navbar-left__nav .navbar-wrapper {
    flex-direction: column;
  }
  .navbar-left__nav .navbar-wrapper .navbar-row + .navbar-row {
    margin: 0;
  }
  .navbar-left__nav .navbar-wrapper .navbar-row {
    justify-content: center;
  }
}
.navbar-right {
  display: flex;
}
.navbar-right .navbar-right__btn-sign-in {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 25px;
  color: #fff;
  background-color: #f2994a;
  box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
  margin-right: 20px;
}
.navbar-right .navbar-right__btn-sign-in:hover {
  background-color: #d47f34;
}
.navbar-right .navbar-right__btn-sign-up {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 23px;
  color: #f2994a;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f2994a;
}
.navbar-right .navbar-right__btn-sign-up:hover {
  color: #fff;
  background-color: #f2994a;
}

@media (max-width: 950px) {
  .navbar-right {
    justify-content: center;
  }
}
.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.head {
  width: 540px;
  position: relative;
  margin-top: 135px;
}
.head::before {
  position: absolute;
  content: "";
  background-image: url("Images/man.png");
  background-repeat: no-repeat;
  width: 723.71px;
  height: 579.57px;
  top: -30px;
  right: -723.71px;
}
@media (max-width: 950px) {
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto 0px;
  }
  .head::before {
    display: none;
  }
}
@media (max-width: 600px) {
  .head {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .head {
    margin-top: 75px;
    width: 285px;
  }
}

.head__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99efd0;
  width: 530px;
  margin-bottom: 20px;
}
@media (max-width: 950px) {
  .head__title {
    font-size: 32px;
    text-align: center;
    width: 450px;
  }
}
@media (max-width: 600px) {
  .head__title {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .head__title {
    font-size: 24px;
    width: 240px;
  }
}

.head__desc {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 22px;
  color: #8476aa;
  width: 468px;
  margin-bottom: 40px;
}
@media (max-width: 950px) {
  .head__desc {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .head__desc {
    font-size: 18px;
    width: 380px;
  }
}
@media (max-width: 500px) {
  .head__desc {
    font-size: 16px;
    width: 250px;
  }
}

.head__btns {
  display: flex;
  margin-bottom: 60px;
}

.head__btns-learn {
  margin-right: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 13px 32px;
  color: #fff;
  background-color: #f2994a;
  box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
}
.head__btns-learn:hover {
  background-color: #d47f34;
}
@media (max-width: 950px) {
  .head__btns-learn {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 26px;
    color: #fff;
    background-color: #f2994a;
    box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
  }
  .head__btns-learn:hover {
    background-color: #d47f34;
  }
}

.head__btns-demo {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 11px 30px;
  color: #f2994a;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f2994a;
}
.head__btns-demo:hover {
  color: #fff;
  background-color: #f2994a;
}
@media (max-width: 950px) {
  .head__btns-demo {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 24px;
    color: #f2994a;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #f2994a;
  }
  .head__btns-demo:hover {
    color: #fff;
    background-color: #f2994a;
  }
}

.head__video-wrapper {
  display: flex;
  align-items: center;
}
.head__video-wrapper video {
  width: 140px;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 950px) {
  .head__video-wrapper video {
    width: 110px;
  }
}
@media (max-width: 500px) {
  .head__video-wrapper video {
    width: 160px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .head__video-wrapper {
    flex-direction: column;
  }
}

.head__video-desc {
  font-family: "Rubik";
  color: #8476AA;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  width: 380px;
}
@media (max-width: 950px) {
  .head__video-desc {
    width: 280px;
  }
}
@media (max-width: 950px) {
  .head__video-desc {
    width: 240px;
    font-size: 14px;
  }
}
@media (max-width: 500px) {
  .head__video-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.head__video-desc-title {
  margin-bottom: 6px;
}

.head__video-btn {
  cursor: pointer;
  font-size: 14px;
}
.head__video-btn:hover {
  color: #705aad;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.companies {
  padding: 0 63px;
  display: flex;
  justify-content: center;
  padding-top: 103px;
  opacity: 0.3;
}
.companies img + img {
  margin-left: 74px;
}
@media (max-width: 1130px) {
  .companies img + img {
    margin-left: 37px;
  }
}
@media (max-width: 950px) {
  .companies {
    margin-top: 50px;
    flex-direction: column;
  }
  .companies img + img {
    margin: 0;
  }
  .companies img {
    width: 117px;
  }
  .companies img:nth-child(2n+1) {
    margin-right: 150px;
  }
  .companies img:nth-child(2n) {
    margin-left: 150px;
  }
}
@media (max-width: 500px) {
  .companies {
    padding: 0;
  }
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.choice {
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8476aa;
}

.choice__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
}

.choice__subtitle {
  margin-top: 13px;
  font-family: Gilroy;
  font-size: 16px;
}
.choice__subtitle + .choice__row {
  margin-top: 50px;
}

.choice__row {
  width: 1000px;
  display: flex;
  justify-content: center;
}
.choice__row + .choice__row {
  margin-top: 35px;
}

.choice__row-el {
  position: relative;
}
.choice__row-el + .choice__row-el {
  margin-left: 102px;
}
.choice__row-el::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: -50px;
  top: 0;
}
.choice__row-el:nth-child(1)::before {
  background: no-repeat url("Images/icons/flip.png");
}
.choice__row-el:nth-child(2)::before {
  background: no-repeat url("Images/icons/airpods.png");
}
.choice__row-el:nth-child(3)::before {
  background: no-repeat url("Images/icons/lte.png");
}
.choice__row-el.row_2:nth-child(1)::before {
  background: no-repeat url("Images/icons/thunder.png");
}
.choice__row-el.row_2:nth-child(2)::before {
  background: no-repeat url("Images/icons/attachment.png");
}
.choice__row-el.row_2:nth-child(3)::before {
  background: no-repeat url("Images/icons/bulb.png");
}

.choice__row-el-title {
  font-family: Gilroy;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #99efd0;
}

.choice__row-el-desc {
  font-family: Gilroy;
  margin-top: 10px;
  font-size: 14px;
  color: #8476aa;
  width: 247px;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.traffic {
  position: relative;
  padding-left: 32px;
  display: flex;
  justify-content: center;
  margin-top: 110px;
}
.traffic__info {
  margin-top: 57px;
  margin-right: 58px;
  width: 470px;
}
.traffic__info-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
}
.traffic__info-title span {
  color: #f2994a;
}
.traffic__info-desc {
  margin-top: 32px;
  font-family: Gilroy;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #8476aa;
}
.traffic__info-btn {
  margin-top: 43px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 14px 30px;
  color: #fff;
  background-color: #f2994a;
  box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
}
.traffic__info-btn:hover {
  background-color: #d47f34;
}
.traffic::after {
  position: absolute;
  content: "";
  transform: rotate(-120deg) scaleY(1, -1);
  width: 384px;
  height: 566px;
  background: url("Images/flying_dots.png") no-repeat;
  left: -17%;
  top: 27.5%;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.ways {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 45px;
}
.ways__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #99efd0;
  text-align: center;
}
.ways__title span {
  color: #f2994a;
}
.ways__subtitle {
  margin-top: 32px;
  width: 414px;
  text-align: center;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
}
.ways__row {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.ways__row-el {
  width: 290px;
  text-align: center;
}
.ways__row-el + .ways__row-el {
  margin-left: 110px;
}
.ways__row-el:nth-child(1) .ways__row-el-desc {
  width: 163px;
}
.ways__row-el:nth-child(2) .ways__row-el-desc {
  width: 280px;
}
.ways__row-el:nth-child(3) .ways__row-el-desc {
  width: 200px;
}
.ways__row-el-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #99efd0;
}
.ways__row-el-desc {
  margin: 16px auto 0;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.next-project {
  z-index: 100;
  position: relative;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.next-project::after {
  z-index: 5;
  content: "";
  position: absolute;
  width: 1203px;
  height: 492px;
  top: 61px;
  background: no-repeat url("Images/bg_dots.png");
}

.next-project-title {
  text-align: center;
  width: 770px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
}
.next-project-title span {
  color: #f2994a;
}

.next-project-button {
  position: relative;
  z-index: 10;
  margin-top: 46px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 17px 32px;
  color: #fff;
  background-color: #f2994a;
  box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
}
.next-project-button:hover {
  background-color: #d47f34;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.business {
  margin-top: 400px;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}
.business__info {
  width: 470px;
}
.business__info-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99efd0;
}
.business__info-title span {
  color: #f2994a;
}
.business__info-desc {
  margin-top: 32px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #8476aa;
}
.business__info-btn {
  margin-top: 46px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 17px 30px;
  color: #fff;
  background-color: #f2994a;
  box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
}
.business__info-btn:hover {
  background-color: #d47f34;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.information {
  margin-top: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.information__info {
  width: 512px;
}
.information__info-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 50px;
  color: #99efd0;
  letter-spacing: 0.325px;
}
.information__info-subtitle {
  width: 414px;
  margin-top: 32px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
}
.information__info-row {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.information__info-row .row-el {
  position: relative;
  width: 224px;
}
.information__info-row .row-el::before {
  top: -34px;
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  background-repeat: no-repeat cover;
}
.information__info-row .row-el:nth-child(1)::before {
  background-image: url(Images/icons/knife.png);
}
.information__info-row .row-el:nth-child(2)::before {
  background-image: url(Images/icons/lte2.png);
}
.information__info-row .row-el-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
  color: #99efd0;
  letter-spacing: 0.2px;
}
.information__info-row .row-el-desc {
  margin-top: 8px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
}

.reasons-field-form-wrapper input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.2;
}

.reasons {
  margin-top: 195px;
  position: relative;
  display: flex;
  justify-content: center;
}
.reasons::before {
  z-index: 1;
  width: 2030px;
  height: 540px;
  position: absolute;
  content: "";
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background: no-repeat url(Images/bg_lines.png);
  background-size: cover;
}
.reasons-field {
  background: rgba(60, 62, 125, 0.19);
  -webkit-backdrop-filter: blur(134px);
          backdrop-filter: blur(134px);
  border-radius: 5px;
  z-index: 10;
  position: relative;
  width: 940px;
  height: 324px;
  padding: 51px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reasons-field-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  color: #99efd0;
  color: #f2994a;
}
.reasons-field-subtitle {
  width: 396px;
  margin-top: 20px;
  text-align: center;
  font-family: Rubik;
  font-size: 16px;
  color: #95a1bb;
}
.reasons-field-form-wrapper {
  position: relative;
  margin-top: 23px;
  display: flex;
}
.reasons-field-form-wrapper input {
  width: 298px;
  bottom: 0;
  border: 0;
  margin-right: -10px;
  background: #2f3162;
  border-radius: 5px;
  outline: none;
  text-indent: 16px;
}
.reasons-field-form-wrapper button {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  padding: 18px 43px;
  color: #fff;
  background-color: #f2994a;
  box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.reasons-field-form-wrapper button:hover {
  background-color: #d47f34;
}
.reasons-field-footer {
  margin-top: 16px;
  font-family: Gilroy;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8476aa;
}