$bg: #0f1145;
$gray: #b5b5b5;
$orange: #f2994a;
$purple: #8476aa;
$green: #99efd0;
$orange_dark: #d47f34;
$transparent: rgba(0, 0, 0, 0);

//Breakpoints
$xl: 1440px;
$lg: 1130px;
$md: 950px;
$md2: 600px;
$sm: 500px;
$xs: 320px;
@mixin title1($fz) {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: $fz;
    line-height: 50px;
    color: $green;
}
@mixin btns_main {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

@mixin btn_filled($pad_t, $pad_l) {
    @include btns_main;
    padding: $pad_t $pad_l;
    color: #fff;
    background-color: $orange;
    box-shadow: -2px 3px 30px 0px rgba(242, 153, 74, 0.33);

    &:hover {
        background-color: $orange_dark;
    }
}
@mixin btn_outlined($pad_t, $pad_l) {
    @include btns_main;
    padding: ($pad_t - 2px) ($pad_l - 2px);
    color: $orange;
    background-color: $transparent;
    border: 2px solid $orange;
    &:hover {
        color: #fff;
        background-color: $orange;
    }
}
@mixin font_gilroy1($fz, $let_sp) {
    font-family: Gilroy;
    font-weight: 600;
    font-size: $fz;
    line-height: 20px;

    letter-spacing: $let_sp;
    color: $purple;
}
%input_font {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.2px;
    color: #ffffff;
    opacity: 0.2;
}
// font-family: 'Inter', sans-serif;
// font-family: 'Rubik', sans-serif;
